name: "Deploy to Balena"

on:
  pull_request:
    types: [opened, synchronize, closed]
    branches:
      - main
      - master
    paths-ignore:
      - 'docs/**'
      - README.md

  workflow_dispatch:

env:
  BALENA_APP: balenalabs/balenasound

jobs:
  build:
    name: "Deploy-to-Balena"
    runs-on: "ubuntu-latest"
    steps:
      - name: Checkout main branch
        uses: actions/checkout@v3

      - name: Update balena.yml
        uses: balena-io-experimental/balena.yml-action@main
        with:
          # Synchronise the GitHub README with the Balena Hub README
          sync_readme: true
          # If pushing a tag to deploy, use the same tag as the version number to display on Balena Hub
          sync_tag: false

      - name: Deploy to Balena
        uses: balena-io/deploy-to-balena-action@master
        with:
          balena_token: ${{ secrets.BALENA_API_KEY }}
          fleet: ${{ env.BALENA_APP }}
